.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.board .sqr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  pointer-events: none;
}

.white_b {
  height: 80%;
  width: 80%;
  user-select: none;

  cursor: pointer;
}
.black_b {
  height: 80%;
  width: 80%;
  user-select: none;

  cursor: pointer;
}

.white_b:active,
.black_b:active {
  cursor: grab;
}

.board .rank {
  user-select: none;
}
.board .coordinates_Files {
  display: grid;
  position: absolute;
  left: 1%;
  top: 0.5%;
  user-select: none;
}
.board .coordinates_Files span {
  height: 100px;
  font-weight: 600;
  font-size: 22px;
  z-index: 2;
  user-select: "none";
}

.board .coordinates_Ranks {
  display: flex;
  position: absolute;
  bottom: 0;
  user-select: none;
}
.board .coordinates_Ranks span {
  width: 100px;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
  z-index: 2;
  user-select: none;
}

.board .pieces_cont{
  position: absolute;
  display: grid;
  grid-template-columns:  repeat(8,100px);
  grid-template-rows: repeat(8,100px);
}
.board .pieces_cont .positional_piece{
  display: flex;
  align-Items: center;
  justify-Content: center;
  height: 100px;
  width: 100px;
  user-Select: none;
}