.board{
  display: grid;
  grid-template-columns: repeat(8,100px);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.board .sqr{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.white_b{
  height:65%;
  width:65%;
  border-radius: 999px;
  border: 4px solid black;
  background-color: var(--light_pcs);
  cursor: pointer;
}
.black_b{
  height:65%;
  width:65%;
  border-radius: 999px;
  border: 4px solid black;
  background-color: var(--dark_pcs);
  cursor: pointer;
}

.white_b:active ,.black_b:active{
  cursor: grab;
}